@charset "utf-8";
/* CSS Document */

body{
font: 16px/1.6 "Hiragino Kaku Gothic Pro","メイリオ";
margin:0;
padding: 0;
color:#EEEEEE;
background: #5E90B3
}

img{
outline:none;
border-style:none;
transition: 0.5s
}

main{
  position: relative;
  margin: 0 auto
}

.main{
  font-size:20px
}

section{}

.firstView{
  position: absolute;
  margin: 50% auto
}

.logo{
  left: 50%
}

.description{
  top: 50%;
  left: 50%
}

.sns{
  display: flex;
  justify-content: center;
}
.sns:hover{
  opacity: 0.5
}

.sns__content{
  width: 36px;
  margin: 0 16px
}


footer{}

.footer{
  text-align: center
}

.copyright{
  font-size: 12px;
  padding: 40px
}
