@charset "utf-8";
/* CSS Document */

body{
  font: 16px/1.6 "Hiragino Kaku Gothic Pro","メイリオ";
  margin:0;
  padding: 0;
  color:#EEEEEE;
  background: #5E90B3;
  height: 100vh;
  posotion:relative;
}

img{
  outline:none;
  border-style:none;
  transition: 0.5s
}

main{
  /*position: relative;*/
  margin: 0 auto;
}

.main{
  font-size:20px
}

/.firstView{
  /* position: absolute;
  margin: 150px auto */
}


.logo{
  left: 50%
}

.firstView .description{
  /* top: 50%;
  left: 50% */
  text-align: center;
  font-size: 20px;
}

.sns{
  display: flex;
  justify-content: center;
}
.sns:hover{
  opacity: 0.5
}

.sns__content{
  hight: 36px;
  margin: 0 16px
}


footer{}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center
}

.footer .logo img{
  width: 50%;
  max-width: 200px;
}

.copyright{
  font-size: 12px;
  padding: 40px
}
